# Python / FastAPI
__pycache__/
*.pyc
.venv/
backend/.env

# Кэш линтеров и инструментов Python
.mypy_cache/
.ruff_cache/
.pytest_cache/

# Node.js / React
node_modules/
frontend/dist/
frontend/.env
frontend/.env.development

# Разное
.DS_Store
.vscode/*
!.vscode/settings.json 
!.vscode/tasks.json