DATABASE_URL=postgresql+asyncpg://pizza_user:pizza_password@127.0.0.1:5433/pizza_db
SECRET_KEY=super-secret-key-here
# Redis
# Для локальной разработки
REDIS_URL=redis://localhost:6379/0

# ЮКасса (тестовый режим)
# Сначала нужно получить данные в личном кабинете 
YOOKASSA_SHOP_ID=your_shop_id
YOOKASSA_SECRET_KEY=your_secret_key
# URL куда ЮКасса вернёт пользователя после оплаты
YOOKASSA_RETURN_URL=http://localhost:5173/payment/success